body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.transactions {
    margin-bottom: 20px;
}

.add-transaction input, .add-transaction button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.add-transaction button {
    background-color:blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-transaction button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.delete {
    float: right;
    cursor: pointer;
}